// background color
$primary-color:  #f2d184;

$secondary-color:  #e0e0e0;

$tertiary-color: #f1c2bee3;



// Media Queries

$container-page-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);