@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Lexend:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lexend", sans-serif;
  background: url("../assests/bg.png") repeat;
}

.navigation-bar-items {
  list-style: none;
}

.navbar-brand img {
  height: 4rem;
  margin: 0 2rem 0 2rem;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  font-size: 2rem;
  font-weight: 600;
}

.about-me-wrapper {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: linear-gradient(135deg, #fdbe6d 0%, #ff3b6d 100%);
  padding: 5px;
  margin: 30px auto 0 auto;
  position: relative;
}

.about-me-gradient {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background: linear-gradient(135deg, #facf59 0%, #fd3365 100%);
  animation: gradient-animation 1.5s linear infinite;
}

@keyframes gradient-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about-me-img {
  position: absolute;
  left: 5px;
  top: 5px;
  height: 240px;
  width: 240px;
  border-radius: 100%;
  object-fit: cover;
  border: 4px solid white;
  transition: ease-in;
  transition-duration: 0.1s;
}

.about-me-img:hover {
  transform: scale(1.1);
}

.quote {
  height: 42px;
}

.quote-left {
  margin-right: 10px;
  margin-top: -12px;
}

.quote-right {
  margin-left: 10px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
}

.comments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column: 1/4;
  grid-row: 4/5;
  gap: 4rem;
}

.hobby-title {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}

.hobby-title {
  text-shadow: 0px -2px 2px #d26c6c99;
}

.hobby-description {
  width: 70%;
}

.hobby > * {
  margin-bottom: 2rem;
}

.project--1,
.project--2,
.project--3,
.project--4,
.comments--1,
.comments--2,
.comments--3,
.hobby--1,
.hobby--2,
.hobby--3 {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.project--1 img,
.project--2 img,
.project--3 img,
.project--4 img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  margin-bottom: 3rem;
  border-radius: 7px;
}

.comments--1 .comment-image,
.comments--2 .comment-image,
.comments--3 .comment-image,
.hobby--1 img,
.hobby--2 img,
.hobby--3 img {
  border-radius: 50px;
  width: 10rem;
  margin-bottom: 3rem;
}

.quote-comment {
  height: 25px;
}

.project--1,
.project--2,
.project--3,
.project--4,
.comments--1,
.comments--2,
.comments--3,
.hobby--1,
.hobby--2,
.hobby--3 {
  padding: 1.5rem 2rem;
}

.project span {
  font-weight: 300;
}

.comments--1 p,
.comments--2 p,
.comments--3 p {
  font-weight: 600;
}

.hobby a {
  text-decoration: none;
}

.hobby a:hover {
  color: #f783ac;
}

.fas {
  color: #4b4b4b;
  padding-left: 1rem;
}

.fas:hover {
  color: #f783ac;
}

.comments--1,
.comments--2,
.comments--3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hobby--1,
.hobby--2,
.hobby--3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=text],
input[type=email],
input[type=email],
textarea {
  padding: 0.8rem;
  width: 100%;
  border-style: none;
  border: 1px solid dimgray;
}

.submit {
  margin-top: -3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #cf9f80;
  color: #ffffff;
}

button {
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  color: dimgray;
  margin: 5rem 0;
  font-size: 1.7rem;
  cursor: pointer;
  border-style: none;
}

.contact-wrap {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-message h2 {
  padding: 0rem 0 6rem 0;
}

.contact-message p {
  padding: 2rem 4rem 2rem 0;
}

.contact-column-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 4rem;
}

.contact-column-right {
  text-align: center;
  width: 40%;
}

.contact-column-right img {
  width: 50%;
}

footer {
  height: 15vh;
  margin-top: 4rem;
  padding-top: 4rem;
  text-align: center;
}

footer img {
  width: 25rem;
  padding: 1rem;
}

footer img:hover {
  background-color: #f1c2bee3;
  border-radius: 5px;
}

.section-line-style p {
  width: 50%;
  font-size: 1.8rem;
}

.section-line-style,
.footer-line-style {
  color: #4b4b4b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.6875rem;
  font-weight: 700;
  margin: 4rem 1.625rem 3rem 1.625rem;
}

.section-line-style::before,
.footer-line-style:before {
  margin-left: 80px;
  right: 30px;
}

.section-line-style::after,
.footer-line-style:after {
  margin-right: 80px;
  left: 30px;
}

.section-line-style::before,
.section-line-style::after,
.footer-line-style:before,
.footer-line-style:after {
  background-color: #f1c2bee3;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

span {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
}

/* **********************Media Queries **********/
@media (min-width: 0) and (max-width: 350px) {
  .contact-wrap {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  body {
    margin: 0 1rem;
  }

  header {
    height: 16vh;
  }

  main .about-me-wrap {
    height: 75vh;
    margin-top: 12rem;
  }
  main .about-me-image {
    margin-bottom: 2rem;
  }
  main .about-me-image p {
    margin-bottom: 4rem;
  }
  main .comments {
    margin-bottom: 4rem;
  }
  main .contact-wrap {
    display: flex;
    flex-direction: column;
  }
  main .contact-column-right {
    width: 70%;
    margin-top: 4rem;
  }
  main .contact-column-right img {
    width: 40%;
  }
  main .hobby--1,
main .hobby--2,
main .hobby--3 {
    flex-direction: column;
  }

  .section-line-style {
    margin: 4rem 0;
  }

  .footer-line-style:after {
    margin-right: 50px;
    left: 10px;
  }
}
@media (min-width: 481px) and (max-width: 990px) {
  body {
    padding: 4rem;
  }

  .contact-column-right {
    width: 70%;
    margin-top: 4rem;
  }

  .contact-wrap {
    display: flex;
    flex-direction: column;
  }
}
/* Tablet -481px - 768px*/
@media (min-width: 481px) and (max-width: 768px) {
  body {
    padding: 4rem;
  }

  main .submit {
    margin-top: -3rem;
  }
  main .hobby--1,
main .hobby--2,
main .hobby--3 {
    flex-direction: column;
  }

  .section-line-style {
    height: 25vh;
  }
}
/* Desktop */
@media (min-width: 684px) {
  .about-me-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (min-width: 769px) {
  body {
    padding: 4rem;
  }

  .about-me-wrap {
    margin-top: 9rem;
  }

  .section-line-style {
    height: 35vh;
    padding-top: 6rem;
  }

  .project--1:hover,
.project--2:hover,
.project--3:hover,
.project--4:hover,
.comments--1:hover,
.comments--2:hover,
.comments--3:hover,
.hobby--1:hover,
.hobby--2:hover,
.hobby--3:hover {
    transform: scale(1.1);
    transition: 1s;
  }

  .project--1,
.project--2,
.project--3,
.project--4,
.comments--1,
.comments--2,
.comments--3,
.hobby--1,
.hobby--2,
.hobby--3 {
    transform: scale(1);
    transition: 1s;
  }
}
@media (min-width: 991px) {
  .contact-wrap {
    height: 75vh;
    padding: 0 10rem;
  }

  .contact-column-right {
    padding-left: 4rem;
    width: 50%;
  }

  .contact-column-left {
    width: 40%;
  }
}
@media (min-width: 1030px) {
  .about-me-image {
    text-align: center;
  }
}
@media (min-width: 1250px) {
  .about-me {
    padding: 4rem 20rem 2rem 0;
  }
}
@media (min-width: 1490px) {
  .hobby-wrap {
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;
  }
}

/*# sourceMappingURL=main.css.map */
